[user]
    name = Andrew Plummer
    # email not set, must be set per repository
    signingkey = A9ABACF9C09D6303632A1C1F1ACE8B57D7C5B92B
[core]
    pager = less -XFR
[color]
    ui = true
[push]
    default = current
[alias]
    undo-commit = reset --soft HEAD^
    lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
    undo-pull = reset HEAD@{1}
    diffc = diff --cached
    dc = diff --cached
    d = diff
    s = status .
    l = log --graph --oneline --branches
    ap = add -p
    cm = commit -m
    ca = commit --amend
    cmns = commit --no-gpg-sign -m
    nb = "!f() { \
      default_branch=$(git remote show origin | grep 'HEAD branch' | cut -d ':' -f 2); \
      git checkout "$default_branch" -b "$1"; \
    }; f"
    ch = checkout
    large = !git rev-list --objects --all | git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' | sed -n 's/^blob //p' | sort --numeric-sort --key=2 | cut -c 1-12,41- | $(command -v gnumfmt || echo numfmt) --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest
    gone-from-remote-branches = "!git branch --format '%(refname:short) %(upstream)' | awk '{if (!$2) print $1;}'"
    delete-gone-from-remote-branches = !git gone-from-remote-branches | xargs -r git branch -D
    pushf = push --force-with-lease
    pf = pushf
    ph = push
    p = pull
    pr = pull --rebase
[diff "sopsdiffer"]
	textconv = sops -d
[pull]
	ff = only
[commit]
	gpgsign = true
